div
    button.float-right.btn.btn--l.btn--blue.btn--raised(lx-ripple, ng-click="scanGames()") Scan your collection
    button.float-right.btn.btn--l.btn--blue.btn--raised(lx-ripple, ng-click="postProcessing()", style="margin-right:10px;") Post-processing
    .grid
        .grid__col6

            br

            #scan_progress

            h1.fs-title(ng-show="games.length > 0") Your video games

            ul.list
                li.list-row.list-row.list-row--has-primary.list-row--has-secondary(ng-repeat="game in games")
                    .list-primary-tile
                        img.list-primary-tile__img(ng-show="game.media.thumbnails[0]" ng-src="{{ game.media.thumbnails[0] }}")
                        img.list-primary-tile__img(ng-hide="game.media.thumbnails[0]" src="http://niesr.ac.uk/sites/default/files/styles/large/adaptive-image/public/default_images/thumbnail-default_2_0.jpg?itok=zti20ldd")

                    .list-content-tile.list-content-tile--one-line {{game.name}} ({{game.releaseDate | date:'yyyy'}})
                        p(ng-show="game.genres[0].name || game.metacritic.score") {{game.genres[0].name}} - {{game.metacritic.score}}
                        p(ng-show="game.developers[0].name || game.editors[0].name") {{game.developers[0].name}}, {{game.editors[0].name}}

                    .list-secondary-tile
                        button.btn.btn--xs.btn--blue.btn--fab(lx-ripple, ng-click="deleteGame(game._id)",
                        lx-tooltip="Delete a game from collection database", tooltip-position="right")
                            i.mdi.mdi--delete

            div(ng-hide="games.length > 0")
                p.text-center.card(class="p+") No game found in your collection !


md-bottom-sheet.md-list.md-has-header
    md-subheader Post-processing results
    md-list
        p {{ postProcessingResult }}
