div
    .grid
        .grid__col6(ng-hide="torrents.length > 0")
            br
            #torrents_progress

        .grid__col6.card(class="p+" ng-show="torrents.length > 0")

            .fs-title ThePirateBay Top 10

            div
                ul.list
                    li.list-row.list-row.list-row--has-primary.list-row--has-secondary(ng-repeat="torrent in torrents | orderBy:'seeders' | limitTo:10")
                        .list-content-tile.list-content-tile--one-line {{torrent.name}}
                            br
                            .label.label-info(style="display:inline; margin-right: 5px;" lx-tooltip="Release date", tooltip-position="bottom") {{torrent.uploadDate}}
                            .label.label-danger(style="display:inline; margin-right: 5px;" lx-tooltip="Size", tooltip-position="bottom") {{torrent.size}}
                            .label.label-primary(style="display:inline; margin-right: 5px;" lx-tooltip="Seeders", tooltip-position="bottom") {{torrent.seeders}}
                            .label.label-warning(style="display:inline; margin-right: 5px;" lx-tooltip="Leechers", tooltip-position="bottom") {{torrent.leechers}}

                        .list-secondary-tile
                            button.btn.btn--xs.btn--blue.btn--fab(lx-ripple, ng-click="add2Transmission(torrent.magnetLink)",
                            lx-tooltip="Add to Transmission", tooltip-position="right")
                                i.mdi.mdi--add
