div
    .grid
        .grid__col6
            #torrents_progress

            ul.list
                li.list-row.list-row.list-row--has-primary.list-row--has-secondary(ng-repeat="torrent in torrents | orderBy:'seeders' | limitTo:5")
                    .list-primary-tile

                    .list-content-tile.list-content-tile--one-line {{torrent.name}} - {{torrent.uploadDate}}
                        p {{torrent.size}} | {{torrent.seeders}} | {{torrent.leechers}}

                    .list-secondary-tile
                        button.btn.btn--xs.btn--blue.btn--fab(lx-ripple, ng-click="add2Transmission(torrent.magnetLink)",
                        lx-tooltip="Add to Transmission", tooltip-position="right")
                            i.mdi.mdi--add
