div
    form(name="configGorm")
        //masonry.grid(load-images="false")
        div#General(class="grid__col4 card mansonry-brick")
            div(class="p+")
                button.btn.btn--m.btn--blue.btn--raised(lx-ripple, style="float:right", lx-tooltip="Restart the application", tooltip-position="left") Restart
                strong.fs-headline.display-block General
                strong.fs-subhead.tc-black-2.display-block Need restart before changes take effect.
                .grid__col5
                    lx-text-field(label="Username")
                        input(type="text", ng-model="config.general.username", ng-blur="update(config)")
                .grid__col5
                    lx-text-field(label="Password")
                        input(type="text", ng-model="config.general.password", ng-blur="update(config)")
                .grid__col2
                    md-input-container
                        lx-text-field(label="Port *")
                            input(type="text", ng-model="config.general.port", ng-blur="update(config)", required)
                            div(ng-messages="configForm.config.general.port.$error", ng-show="configForm.config.general.port.$dirty")
                                div(ng-messages="required") This is required !

        //div(style="padding:15px")

        div#Advanced(class="grid__col4 card mansonry-brick")
            div(class="p+")
                strong.fs-headline.display-block Advanced
                lx-text-field(label="API Key", disabled="true")
                    input(type="text", ng-model="config.advanced.apikey", ng-blur="update(config)", ng-disabled="true")
                div.checkbox.mt
                    input.checkbox__input(type="checkbox", id="debug", ng-model="config.advanced.debug", ng-change="update(config)")
                    label.checkbox__label(for="debug") Debug
                    span.checkbox__help Check for generate a debug file
                //lx-file-input(label="Select a directory for the debug file...", ng-model="config.advanced.debug_directory" mozdirectory="" webkitdirectory="" directory="")
                //input(type="file" webkitdirectory directory)
                lx-text-field(label="Log directory")
                    input(type="text", ng-model="config.advanced.debug_directory", ng-blur="update(config)")

        //div(style="padding:15px")

        div#Update(class="grid__col4 card mansonry-brick")
            div(class="p+")
                button.btn.btn--m.btn--blue.btn--raised(lx-ripple, style="float:right", lx-tooltip="Restart the application", tooltip-position="left") Restart
                strong.fs-headline.display-block Update
                strong.fs-subhead.tc-black-2.display-block Application update options
                div.checkbox.mt
                    input.checkbox__input(type="checkbox", id="notification", ng-model="config.update.notification", ng-change="update(config)")
                    label.checkbox__label(for="notification") Notification
                    span.checkbox__help Send a notification if an update is available
                div.checkbox.mt
                    input.checkbox__input(type="checkbox", id="automatic", ng-model="config.update.automatic", ng-change="update(config)")
                    label.checkbox__label(for="automatic") Automatic
                    span.checkbox__help Automatically update when update is available

        //div(style="padding:15px")

        div#Collection(class="grid__col4 card")
            div(class="p+")
                button.btn.btn--m.btn--blue.btn--raised(lx-ripple, style="float:right", lx-tooltip="Restart the application", tooltip-position="left") Restart
                strong.fs-headline.display-block Collection
                strong.fs-subhead.tc-black-2.display-block Need restart before changes take effect.
                md-input-container
                    lx-text-field(label="Directory to scan *", lx-tooltip="Directory of your games collection", tooltip-position="bottom")
                        input(type="text" ng-model="config.collection.directory", ng-blur="update(config)", required)
                        div(ng-messages="configForm.config.collection.directory.$error", ng-show="configForm.config.collection.directory.$dirty")
                            div(ng-messages="required") This is required !
                .checkbox.mt
                    input.checkbox__input(type="checkbox", id="collection_cron", ng-model="config.collection.scan_auto", ng-change="update(config)")
                    label.checkbox__label(for="collection_cron") Automatically scan
                    span.checkbox__help Automatically scan your collection directory to add new games.
                // CRON
                .grid__col4
                    lx-text-field(label="Day", lx-tooltip="* Every day | */4 fourth day of the month", tooltip-position="bottom")
                        input(type="text" ng-model="config.collection.cron.day", ng-blur="update(config)")
                .grid__col4
                    lx-text-field(label="Hour", lx-tooltip="* Every hour | */2 Every two hours", tooltip-position="bottom")
                        input(type="text" ng-model="config.collection.cron.hour", ng-blur="update(config)")
                .grid__col4
                    lx-text-field(label="Minute", lx-tooltip="Better keep it random.",
                    tooltip-position="bottom")
                        input(type="text" ng-model="config.collection.cron.minute", ng-blur="update(config)")

        //div(style="padding:15px")

        div#Search(class="grid__col4 card")
            div(class="p+")
                button.btn.btn--m.btn--blue.btn--raised(lx-ripple, style="float:right", lx-tooltip="Restart the application", tooltip-position="left") Restart
                strong.fs-headline.display-block Video game search
                strong.fs-subhead.tc-black-2.display-block Search options - Need restart before changes take effect.

                //button.btn.btn--xs.btn--blue.btn--raised(lx-ripple, lx-tooltip="Register on Datagamer and get an API key.", tooltip-position="left") Request an API key

                lx-text-field(label="Datagamer URL", lx-tooltip="Datagamer URL", tooltip-position="bottom")
                    input(type="text" ng-model="config.search.datagamer.url", ng-blur="update(config)")

                lx-text-field(label="Datagamer API key", lx-tooltip="Datagamer API key", tooltip-position="bottom")
                    input(type="text" ng-model="config.search.datagamer.apikey", ng-blur="update(config)")

                .checkbox.mt
                    input.checkbox__input(type="checkbox", id="search_cron", ng-model="config.search.scan_auto", ng-change="update(config)")
                    label.checkbox__label(for="search_cron") Automatically scan
                    span.checkbox__help Automatically search for new video game releases on your provider.

                // CRON
                .grid__col4
                    lx-text-field(label="Day", lx-tooltip="* Every day | */4 fourth day of the month", tooltip-position="bottom")
                        input(type="text" ng-model="config.search.cron.day", ng-blur="update(config)")
                .grid__col4
                    lx-text-field(label="Hour", lx-tooltip="* Every hour | */2 Every two hours", tooltip-position="bottom")
                        input(type="text" ng-model="config.search.cron.hour", ng-blur="update(config)")
                .grid__col4
                    lx-text-field(label="Minute", lx-tooltip="Better keep it random, so the providers don't get DDOSed by every Datagamer user on a 'full' hour.",
                    tooltip-position="bottom")
                        input(type="text" ng-model="config.search.cron.minute", ng-blur="update(config)")

        //div(style="padding:15px")

        div#Providers(class="grid__col4 card")
            div(class="p+")
                button.btn.btn--m.btn--black.btn--raised(lx-ripple, style="float:right", ng-click="thepiratebay_test()") Test
                strong.fs-headline.display-block ThePirateBay providers
                a.fs-subhead.tc-black-2.display-block(ng-href="https://thepiratebay.se/") ThePirateBay
                strong.fs-subhead.tc-black-2.display-block Providers searching torrents for new releases
                .grid
                    #thepiratebay_progress
                //lx-text-field(label="Proxy server", lx-tooltip="Domain for requests, keep empty to let Datagamer pick.", tooltip-position="bottom")
                    input(type="text" ng-model="config.thepiratebay.proxy_server", ng-blur="update(config)")
                //.grid__col4
                    lx-text-field(label="Seed ratio", lx-tooltip="Will not be removed until this seed ratio is met.", tooltip-position="bottom")
                        input(type="text" ng-model="config.thepiratebay.seed_ratio", ng-blur="update(config)")
                //.grid__col4
                    lx-text-field(label="Seed time", lx-tooltip="Will not be removed until this seed time is met.", tooltip-position="bottom")
                        input(type="text" ng-model="config.thepiratebay.seed_time", ng-blur="update(config)")
                //.grid__col4
                    lx-text-field(label="Min score", lx-tooltip="Search releases with a minimum score.", tooltip-position="bottom")
                        input(type="text" ng-model="config.thepiratebay.min_score", ng-blur="update(config)")

                lx-text-field(label="Favorite words", lx-tooltip="Trackers with these words will be choseen first.", tooltip-position="bottom")
                    input(type="text" ng-model="config.thepiratebay.filters.favorite_words", ng-blur="update(config)")
                lx-text-field(label="Forbidden words", lx-tooltip="Trackers with these words will never be added.", tooltip-position="bottom")
                    input(type="text" ng-model="config.thepiratebay.filters.forbidden_words", ng-blur="update(config)")
                lx-text-field(label="Minimum upload date", lx-tooltip="Trackers under this date will never be added.", tooltip-position="bottom")
                    input(type="text" ng-model="config.thepiratebay.filters.uploadDate", ng-blur="update(config)")
                .grid__col4
                    lx-text-field(label="Minimum size (Go)", lx-tooltip="Only keep trackers with this minimum size.", tooltip-position="bottom")
                        input(type="text" ng-model="config.thepiratebay.filters.size_min", ng-blur="update(config)")
                .grid__col4
                    lx-text-field(label="Minimum seeders", lx-tooltip="Only keep trackers with this minimum seeders.", tooltip-position="bottom")
                        input(type="text" ng-model="config.thepiratebay.filters.seeders", ng-blur="update(config)")
                .grid__col4
                    lx-text-field(label="Minimum leechers", lx-tooltip="Only keep trackers with this minimum leechers.", tooltip-position="bottom")
                        input(type="text" ng-model="config.thepiratebay.filters.leechers", ng-blur="update(config)")

        //div(style="padding:15px")

        //div(class="grid__col4 card")
            div(class="p+")
                button.btn.btn--m.btn--orange.btn--raised(lx-ripple, style="float:right", ng-click="kickasstorrents_test()") Test
                strong.fs-headline.display-block KickAssTorrents providers
                a.fs-subhead.tc-black-2.display-block(ng-href="https://kickass.so/") KickAssTorrents
                strong.fs-subhead.tc-black-2.display-block Providers searching torrents for new releases

                lx-text-field(label="Proxy server", lx-tooltip="Domain for requests, keep empty to let Datagamer pick.", tooltip-position="bottom")
                    input(type="text" ng-model="config.kickasstorrents.proxy_server", ng-blur="update(config)")
                .grid__col4
                    lx-text-field(label="Seed ratio", lx-tooltip="Will not be removed until this seed ratio is met.", tooltip-position="bottom")
                        input(type="text" ng-model="config.kickasstorrents.seed_ratio", ng-blur="update(config)")
                .grid__col4
                    lx-text-field(label="Seed time", lx-tooltip="Will not be removed until this seed time is met.", tooltip-position="bottom")
                        input(type="text" ng-model="config.kickasstorrents.seed_time", ng-blur="update(config)")
                .grid__col4
                    lx-text-field(label="Min score", lx-tooltip="Search releases with a minimum score.", tooltip-position="bottom")
                        input(type="text" ng-model="config.kickasstorrents.min_score", ng-blur="update(config)")
            div(class="p+")
                .grid__col12
                    div.checkbox.mt
                        input.checkbox__input(type="checkbox", id="verified", ng-model="config.kickasstorrents.verified", ng-change="update(config)")
                        label.checkbox__label(for="verified") Only verified
                        span.checkbox__help Only search for verfied video game releases.

        //div(style="padding:15px")

        div#Transmission(class="grid__col4 card")
            div(class="p+")
                button.btn.btn--m.btn--red.btn--raised(lx-ripple, style="float:right", ng-click="transmission_test()") Test
                strong.fs-headline.display-block Transmission
                a.fs-subhead.tc-black-2.display-block(ng-href="https://www.transmissionbt.com/") Transmission
                strong.fs-subhead.tc-black-2.display-block BitTorrent client for downloading torrents
            .grid
                #transmission_progress
            div(class="p+")
                .grid__col8
                    lx-text-field(label="Address", lx-tooltip="Address, usually localhost", tooltip-position="bottom")
                        input(type="text", ng-model="config.transmission.address", ng-blur="update(config)")
                .grid__col4
                    lx-text-field(label="Port", lx-tooltip="Port, usually 9091", tooltip-position="bottom")
                        input(type="text", ng-model="config.transmission.port", ng-blur="update(config)")
            div(class="p+")
                .grid__col12
                    lx-text-field(label="Rpc url", lx-tooltip="Change if you don't run Transmission RPC at the default url.", tooltip-position="bottom")
                        input(type="text", ng-model="config.transmission.rpc_url", ng-blur="update(config)")

                .grid__col6
                    lx-text-field(label="Username")
                        input(type="text", ng-model="config.transmission.username", ng-blur="update(config)")
                .grid__col6
                    lx-text-field(label="Password")
                        input(type="text", ng-model="config.transmission.password", ng-blur="update(config)")
            div(class="p+")
                .grid__col12
                    lx-text-field(label="Directory to download")
                        input(type="text", ng-model="config.transmission.directory", ng-blur="update(config)",
                        lx-tooltip="Transmission'll download to this directory. Keep empty for default Transmission directory.", tooltip-position="bottom")

                    div.checkbox.mt
                        input.checkbox__input(type="checkbox", id="remove_torrent", ng-model="config.transmission.remove_torrent", ng-change="update(config)")
                        label.checkbox__label(for="remove_torrent") Remove torrent
                        span.checkbox__help Remove the torrent from Transmission after it finished seeding.
                    div.checkbox.mt
                        input.checkbox__input(type="checkbox", id="pause_torrent", ng-model="config.transmission.pause_torrent", ng-change="update(config)")
                        label.checkbox__label(for="pause_torrent") Paused torrent
                        span.checkbox__help Add the torrent paused.

        //div(style="padding:15px")

        div#Renamer(class="grid__col4 card")
            div(class="p+")
                button.btn.btn--m.btn--blue.btn--raised(lx-ripple, style="float:right", lx-tooltip="Restart the application", tooltip-position="left") Restart
                strong.fs-headline.display-block Renamer
                strong.fs-subhead.tc-black-2.display-block Need restart before changes take effect.

                lx-text-field(label="From a directory...")
                    input(type="text", ng-model="config.renamer.from", lx-tooltip="Folder where Datagamer searches for video games.", tooltip-position="bottom", ng-blur="update(config)")
                lx-text-field(label="To a directory...")
                    input(type="text", ng-model="config.renamer.to", lx-tooltip="Folder where the video games are moved to.", tooltip-position="bottom", ng-blur="update(config)")

                .checkbox.mt
                    input.checkbox__input(type="checkbox", id="renamer_cron", ng-model="config.renamer.scan_auto", ng-change="update(config)")
                    label.checkbox__label(for="renamer_cron") Automatically scan
                    span.checkbox__help Automatically search for downloaded video games.

                .grid__col6
                    lx-text-field(label="Folder naming", disabled="true")
                        input(type="text", ng-model="config.renamer.folder_naming", ng-disabled="true")
                .grid__col6
                    lx-text-field(label="Run every")
                        input(type="text", ng-model="config.renamer.detect_minute", ng-blur="update(config)",
                        lx-tooltip="Detect downloaded video games every X minutes.", tooltip-position="bottom")
                .grid__col12
                    div.checkbox.mt
                        input.checkbox__input(type="checkbox", id="unrar", ng-model="config.renamer.unrar", ng-change="update(config)")
                        label.checkbox__label(for="unrar") Unrar
                        span.checkbox__help Extract rar files if found.