md-dialog(RequestDialogCtrl)
    form(name="requestForm")
      md-toolbar.bgc-blue-800
        .md-toolbar-tools
            h2 Select a directory
      md-dialog-content
            lx-text-field(label="Directory")
                input(type="text" ng-model="srcpath" ng-change="srcpathChange()")

            div(style="max-height: 400px;")
                treecontrol.tree-classic(tree-model="dataForTheTree" options="treeOptions" on-selection="showSelected(node)"
                on-node-toggle="showToggle(node, expanded)"  selected-node="node1") {{node.name}}

                #progress