div(ng-controller="WantedCtrl")
    .grid__col6
        .card
            .toolbar
                lx-search-filter(model="searchFilter.fifth" filter-width="100%" placeholder="Search")

        h1.fs-title Video games list from Datagamer

        ul
            li(ng-repeat="game in games")
                span {{game.name}}