doctype
html
    head
        meta(name='viewport', content='width=device-width', initial-scale='1')

        title #{title} - My Site
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

        script(src='https://code.jquery.com/jquery-2.1.3.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    body
        header
            h1 Datagamer
        .container-fluid
            .row
                .col-md-4
                    block sidebar
                .col-md-8
                    block content
        footer
            p Running on node with Express, Jade and Stylus