doctype
html(lang="en", ng-app="StarterApp")
    head
        meta(name='viewport', content='width=device-width', initial-scale='1')

        title #{title}

        // Angulars Material
        link(rel="stylesheet", href="//rawgit.com/angular/bower-material/master/angular-material.css")

        link(rel='stylesheet', href='/stylesheets/style.css')

        // Angular Material Dependencies
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js")
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular-route.js")
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular-animate.min.js")
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular-aria.min.js")

        // Latest Angular Material Javascript
        script(src="//rawgit.com/angular/bower-material/master/angular-material.js")

        script(src="/js/demo.js")

    body(ng-controller="AppCtrl")
        md-tabs(md-selected="data.selectedIndex")
            md-tab#tab1(aria-controls="tab1-content") Home
            md-tab#tab2(aria-controls="tab2-content") Wanted
            md-tab#tab3(aria-controls="tab3-content") Collection
            md-tab#tab4(aria-controls="tab4-content") Settings

        ng-switch.tabpanel-container(on="data.selectedIndex")
            #tab1-content(role="tabpanel", aria-labelledby="tab1", ng-switch-when="0", md-swipe-left="next()", md-swipe-right="previous()") Content from item 1
            #tab2-content(role="tabpanel", aria-labelledby="tab2", ng-switch-when="1", md-swipe-left="next()", md-swipe-right="previous()") Content from item 2
            #tab3-content(role="tabpanel", aria-labelledby="tab3", ng-switch-when="2", md-swipe-left="next()", md-swipe-right="previous()") Content from item 3
            #tab4-content(role="tabpanel", aria-labelledby="tab4", ng-switch-when="3", md-swipe-left="next()", md-swipe-right="previous()")
                section(layout="row", flex)

                    // Settings - Sidebar left
                    md-sidenav.md-sidenav-left.md-whitefram-z2(md-component-id="left", md-is-locked-open="$media('gt-md')", layour="column")
                        md-toolbar.md-theme-indigo
                            h1.md-toolbar-tools Sidenav left
                        md-content.md-padding
                            md-item(ng-repeat="item in settings")
                                md-item-content
                                    md-button {{item}}

                    //div(layout="column", layout-fill, tabindex="-1", role="main")
                    md-content.md-padding.md-default-theme(ng-view, md-scroll-y, flex)
                        div(layout="column", layout-fill)
                            md-card
                                md-toolbar.md-primary
                                    h1.md-toolbar-tools Top Secret Project
                                md-content.md-padding
                                    h2 Paracosm
                                    p The titles of Washed Out's breakthrough song and the first single from Paracosm share.
                                    form(name="userForm")
                                        md-input-container
                                            label Last Name
                                            input(name="lastName", ng-model="lastName", required, md-maxlength="10", minlength="4")
                                            div(ng-messages="userForm.lastName.$error", ng-show="userForm.bio.$dirty")
                                                div(ng-message="required") This is required!
                                                div(ng-message="md-maxlength") That's too long!
                                                div(ng-message="minlength") That's too short!

            // Content
            md-content(ng-view, md-scroll-y, flex)

        //footer
        //    p Running on node with Express, Jade and Stylus - Wifsimster